html {
    font-size: 1rem;
}

body {
    background-color: #C2DABD;
    color: black;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.card {
    margin-bottom: 20px;

    padding-top: 10px;
    border-radius: 20%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardDiv {
    margin-bottom: 50px;
    border: 1px solid black;
    padding-bottom: 10px;

}

p {
    display: inline;
}
.counter_div {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

button {
    background-color: transparent;
    border: 5px solid black;
    color: black;
    /* border-image:; */
    border-image-slice: 1;
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width: 560px) {
    button {
        position: relative;
        left: 20%;
        border-radius: 10px;
        padding: 5px;
        font-size: 1.1rem;
        margin-left: 5px;
        width: 30%;
    }
   
}

@media (max-width: 960px) {
    body{
        font-size: 1.6rem;
    }
    button {
        position: relative;
        left: 20%;
        border-radius: 10px;
        padding: 5px;
        font-size: 1.6rem;
        margin-left: 5px;
        width: 30%;
    }


}