html {
    font-size: 1rem;
}

body {
    background-color: var(--tg--theme-bg-color);
    color: var(--tg--theme-text-color);
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 390px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    margin: 5px 5px;
    border-radius: 20%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardDiv {
    display: block;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid black;
    max-width: 200px;
    max-height: 200px;

}

.counter_div {
    margin-left: 150px;
    padding: auto;
}

button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: lightgreen;
}